
/*Responsive nav items*/
@media(max-width: 1000px){
    ul li .item-menu{
        display: none;
    }
}

@media(max-width: 1000px){
    header form .item-search{
        display: none;
    }
}

@media(min-width: 1000px){
    .menu-text .responsive-item{
        display: none;
    }
}

@media(max-width: 1000px){
    header .search-item{
        display: none;
    }
}

@media(max-width: 1000px){
    #section-responsive{
        display: none;
    }
}

@media(max-width: 280px){
    .text-header{
        font-size: 13px;
    }
}