* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #218EEE;
}

/* Nav items*/
.text-header {
    font-family: 'Zen Tokyo Zoo';
    font-size: 30px;
}

.responsive-item {
    cursor: pointer;
}

.body-content {
    width: 100vw;
    height: 100vh;
}

.side-bar-content {
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    display: none;
    z-index: 999999;
}

@keyframes openMenu {
    from {
        opacity: 0;
        transform: translate3d(10px, 0px, 0px);
    }

    to {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px)
    }
}

.content-side {
    height: 100%;
    position: relative;
    animation: openMenu 4ms;
}

.item-side {
    animation: openMenu 2s;
}

.btn-closed {
    position: absolute;
    top: 15px;
    right: 10px;
}

.search-item {
    display: none;
}

/* Carousel */

.carousel-container {
    height: 400px;
    width: 100%;
}

.carousel-container img {
    height: 400px;
}

/* Content pagination table css*/

table {
    color: #333;
    font-size: .9em;
    font-weight: 300;
    line-height: 40px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #0d6efd;
    width: 500px;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .16);
    border-radius: 2px;
}

th {
    background: #0d6efd;
    color: #fff;
    border: none;
}

tr:hover:not(th) {
    background-color: rgb(207, 207, 207);
}


input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

input[type="button"]:not(.active) {
    background-color: transparent;
}

.active {
    background-color: #0d6efd;
    color: #fff;
}

input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}

.card-body {
    color: #000;
}

.price {
    font-size: 25px;
    text-align: center;
    background-color: #0d6efd;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, .16);
    color: #fff;
}

/* Filter style css */

.filter-content {
    width: 30rem;
    height: 60px;
    margin: 5px;
    display: block;
}

.filter-content>button {
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

/* Modal style */
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .16);
    display: none;
    animation: modalOpen 2s;
    z-index: 1200;
}

@keyframes modalOpen{
    from{
        opacity: 0;
        transform: translate3d(20px,0,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.modal-item{
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: relative;
}

.modal-item > div > .btn-closed{
    position: absolute;
    right: 20px;
    top: 15px;
    height: 30px;
    width: 30px;
    border: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    transition: 0.5s all;
}

.modal-item > div > .btn-closed:hover{
    background-color: #dc143c;
    color: #000;
}

.modal-header{
    margin-top: -10px;
}

.modal-body{
    height: 450px;
    overflow: auto;
    overflow-y: scroll;

}

.image-content{
    position: relative;
}

.image-content .container-text{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 35px;
    color: #fff;
    background-color: #218EEE;
    text-align: center;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-footer > button{
    margin-top: 25px;
    height: 65px;
}

/* Cart button css */

.cart-content{
    position: fixed;
    top: 85%;
    left: 13px;
}

.cart-content > .btn-cart{
    border: none;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    background-color: #218EEE;
    color: #fff;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, .5);
}
